---
import CategorieChip from "../../components/CategorieChip.astro"
import Layout from "../../layouts/Layout.astro"
import getAllPostsWithSlugs from "../../lib/getAllPostsWithSlugs"
import getPostBySlug from "../../lib/getPostBySlug"
import Comment from "../../components/comment.svelte"

export async function getStaticPaths() {
  const pagesWithSlugs = await getAllPostsWithSlugs()
  return pagesWithSlugs.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    }
  })
}

const { slug } = Astro.params
const post = await getPostBySlug(slug)
---

<Layout title={post.title}>
  <main>
    <article>
      <div class="categories">
        {post?.categories?.nodes.map((cat) => <CategorieChip {...cat} />)}
      </div>
      <Fragment set:html={post.content} />
    </article>
    <Comment client:visible />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    padding: 20px;
  }

  .categories {
    align-self: flex-start;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  article {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
</style>
