---
import CategorieChip from '../../components/CategorieChip.astro'
import Layout from '../../layouts/Layout.astro'
import getAllPostsWithSlugs from '../../lib/getAllPostsWithSlugs'
import getPostBySlug from '../../lib/getPostBySlug'
import Comment from '../../components/comment.svelte'
import Cover from '../../components/Cover.astro'
import NavLinkForPosts from '../../components/NavLinkForPosts.astro'

export async function getStaticPaths() {
  const pagesWithSlugs = await getAllPostsWithSlugs()
  return pagesWithSlugs.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    }
  })
}

const { slug } = Astro.params
const post = await getPostBySlug(slug)
---

<Layout>
  <main>
    <article>
      <div class="categories">
        {post?.categories?.nodes.map((cat) => <CategorieChip {...cat} />)}
      </div>
      <h1>{post.title}</h1>
      <Cover featuredImage={post.featuredImage} />
      <Fragment set:html={post.content} />
    </article>
    <NavLinkForPosts databaseId={post.databaseId} />
    <Comment client:only />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    padding: 20px;
  }

  .categories {
    align-self: flex-start;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  :global(div[style])  {
    width: auto !important;
  }
  article {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  img {
    max-width: 100%;
  }
</style>
