---
type Props = {
  name: string
  slug: string
}

const { name, slug } = Astro.props as Props
---

<a class="category" href={`/categorie/${slug}`} rel="prefetch">
  {name}
</a>

<style>
  .category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--color-princ);
    color: var(--color-text-alt);
    font-size: .9em;
  }
</style>
