---
import { FeaturedImage } from '../../types/post.type'
import { BASE_URL } from '../utils/constants'

type Props = {
  featuredImage: FeaturedImage
}

const { featuredImage } = Astro.props as Props

const src = featuredImage?.node?.mediaItemUrl || BASE_URL + '/micral.webp'
---

<div class="container">
  <img src={src} alt="image de l'article" />
</div>

<style>
  .container {
    overflow: hidden;
  }

  .container img {
    width: 100%;
    height: auto;
  }
</style>
