<header>
    <a href='/' rel="prefetch"><h1>micral</h1></a>
</header>

<style>
    header {
        text-align: center;
        font-weight: bold;
        padding:10px;
        background: #e1e1e1;
      
    }

    a {
        text-decoration: none;
        color: var(--color-princ);
    }

    a h1:first-letter {
        color: var(--color-micral)
    }

    h1 {
        font-size: 2.5em;
    }
</style>