---
import { WP_post } from '../../types/post.type';

type Props = {
  post:WP_post
}

const { post } = Astro.props as Props

---
<article>
  <h2>{post.node.title}</h2>
  <div class="desc"><Fragment set:html={post.node.excerpt} /></div>
  <a class="button" href={`/article/${post.node.slug}`} rel="prefetch">
    <button>Lire la suite</button>
  </a>
</article>

<style>
  article {
    border: var(--border);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(100% - 25px);
  }


  .button {
    display: flex;
    justify-content: end;
    text-decoration: none;
    cursor: pointer;
  }


</style>
