<article>
  <h2>TITRE de l'article</h2>
  <div class="desc">ici le texte</div>
  <div class="button">
    <button>Lire la suite</button>
  </div>
</article>

<style>
  article {
    border: var(--border);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .button {
    display: flex;
    justify-content: end;
  }
</style>
