---
import getPrimaryMenu from "../lib/getPrimaryMenu"

const { menuItems } = await getPrimaryMenu()
---

<nav>
  {
    menuItems.edges.map((item) => (
      <li>
        <a href={item.node.uri} rel="prefetch">
          {item.node.label}
        </a>
      </li>
    ))
  }
</nav>

<style>
  nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: Questrial, serif;
  }

  li {
    list-style-type: none;
    padding: 0;
  }

  a {
    color: var(--color-text);
    text-decoration: none;
  }
</style>
