---
import getPrimaryMenu from "../lib/getPrimaryMenu"

const { menuItems } = await getPrimaryMenu()
const items = menuItems.edges.map(item=>{
  item.node.uri = item.node.uri.replace('category','categorie')
  return item
})
---

<nav>
  {
    items.map((item) => (
      <li>
        <a href={item.node.uri} rel="prefetch">
          {item.node.label}
        </a>
      </li>
    ))
  }
</nav>

<style>
  nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: Questrial, serif;
    flex-wrap: wrap;
    padding: 10px;

  }

  li {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
  }

  a {
    color: var(--color-text);
    text-decoration: none;
  }

</style>
