---
import { MetasProps } from '../../types/metasProps'
import Header from '../components/Header.astro'
import Menu from '../components/Menu/Menu.svelte'
import Metas from '../components/Metas.astro'
import getPrimaryMenu from '../lib/getPrimaryMenu'

interface Props {
  metas?: MetasProps
}

const { metas } = Astro.props as Props

//const { menuItems } = await getPrimaryMenu()
/** const links = menuItems.edges.map((item) => {
  item.node.uri = item.uri.replace('category', 'categorie')
  return item
})  **/
---

<!DOCTYPE html>
<html lang="fr">
  <Metas {...metas} />
  <body>
    <Header />
    <slot />
  </body>
</html>
